body {
  overflow: auto;
}
#app {
  text-align: center;
}

.result {
  margin-top: 20px;
  padding: 10px;
}

.result div {
  margin-bottom: 10px;
  padding: 5px;
}

.result p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.input-box .btn {
  line-height: 30px;
  border-radius: 4px;
  border: none;
  margin: 0 0 0 20px;
  margin-bottom: 20px;
  padding: 4px 32px;
  cursor: pointer;
  background-color: rgb(58, 247, 241);
}

.input-box .btn:hover {
  background-image: linear-gradient(to top, #00c8ff 0%, rgb(58, 247, 241) 100%);
  color: #333333;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
  border: none;
  background-color: rgb(255, 255, 255);
}

.input-box .input:focus {
  border: none;
  background-color: rgb(255, 255, 255);
}
